*{
    margin: 0;
    padding: 0;
    color: rgb(24, 24, 24);
    font-family: sans-serif;
}
.cabecalho{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.headdersPai{
    width: 80%;
    border: 1px solid;
    padding: 15px;
    margin-top: 10px;
    margin-left: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(228, 77, 77);
}

.headders1{
width: 100%;
}

.headders2{
    width: 100%;
}

.container{
    width: 80%;
    border: 1px solid;
    padding: 15px;
    margin-left: 140px;
    background-color: rgba(134, 155, 155, 0.548);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nome{
    display: inline-block;
    background-color: rgb(54, 76, 109);
    margin-left: 350px;
    margin-top: 30px;
    margin-right: 360px;
    padding: 15px;
    border-radius: 10px;
}

.curso{
    display: inline-block;
    background-color: rgb(54, 76, 109);
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 300px;
    padding: 15px;
    border-radius: 10px;
}

.DataNascimento{
    display: inline-block;
    background-color: rgb(54, 76, 109);
    margin-left: 310px;
    margin-top: 30px;
    margin-right: 325px;
    padding: 15px;
    border-radius: 10px;
}

.atualizacao{
    display: inline-block;
    background-color: rgb(54, 76, 109);
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
}
.manha{
 margin-left: 90px;
 margin-top: 40px;
 margin-right: 60px;
 background-color: rgba(22, 22, 22, 0.705);
display: inline-block;
width: 40%;
height: 195px;
border-radius: 10px;

}
.h1Manha{
    text-align: center;
    padding: 5px 5px;
    margin-top: 5px;
}

.pManha{
    margin-top: 5px;
    padding: 15px 15px;
    width: 90%;
    height: 100%;
}

.tarde{
    display: inline-block;
    margin-right: 10px;
    margin-top: 40px;
    background-color: rgba(22, 22, 22, 0.705);
    width: 40%;
    height: 195px;
    border-radius: 10px;

}

.h1Tarde{
    padding: 5px 5px;
    text-align: center;
    margin-top: 5px;
}

.pTarde{
    margin-top: 5px;
 padding: 15px 15px;
}
.noite{
    display: inline-block;
    margin-left: 90px;
    margin-top: 40px;
    margin-right: 60px;
    background-color: rgba(22, 22, 22, 0.705);
    width: 40%;
    height: 195px;
    border-radius: 10px;
}
.h1Noite{
    text-align: center;
    padding: 5px 5px;
    margin-top: 5px;
}
.pNoite{
    padding: 15px 15px;
    margin: 5px;
}
.madrugada{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(22, 22, 22, 0.705);
    width: 40%;
    height: 195px;
    border-radius: 10px;
}
.h1Madrugada{
    text-align: center;
    padding: 5px 5px;
    margin-top: 5px;
}
.pMadrugada{
    margin: 5px;
    padding: 15px 15px;
}