*{
    margin: 0;
    padding: 0;
}
.infos{
    background-color: #f0eded;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    width: 40%;
    border-radius: 5px;

    a{
        display: inline-block;
        margin: 10px 20px;
        padding: 4px;
        border-radius: 10px;
        width: 5vw;
        text-decoration: none;
    }
    .up{
        background-color: #d66800;
        color: black;
    }
    .In{
        color: gray;
    }
    .In:hover{
        color: black;
        background-color: #d66800;
    }
}
body{
    background-color: #cfcece;
}
.cabecalho{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
    margin-top: 5vh;
    padding-top: 2vh;
    width: 30vw;
    height: 12vh;
    background-color: #7085f7;
    text-align: center;

  
    h1{
        margin-bottom: 1vh;
        font-weight: 500;
    }
    p{
        margin: auto;
        width: 15vw;
        font-weight: 100;
        font-size: 15px;
    }
}
.error{
    display: none;
    position: absolute;
    width: 20%;
    height: 25vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 1px 1px 25px 8px rgba(0,0,0,0.56);
    border-radius: 10px;

    h1{
        color: rgb(192, 33, 33);
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 1.5vh;
    }
    p{
        margin: auto;
        text-align: center;
        width: 90%;
        font-weight: 100;
        font-size: 20px;

        a{
            color: rgb(67, 67, 238);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    button{
        float: inline-end;
        margin: 1vh 2vw;
        background-color: rgb(58, 61, 199);
        border: 2px solid rgb(128, 126, 245);
        color: #fff;
        border-radius: 5px;
        padding: 9px 20px;
    }

}
.form{
    width: 80%;
    margin-left: 1.9vw;
    padding: 20px;
    border: none;
    background-color: #dadada;
    border-radius: 10px;
    margin-bottom: 2vh;
    outline: 0;
    transition: 0.3s;
}
.contentLogin input{
    display: block;
}

.contentLogin{
    padding-top: 5vh;
    margin: auto;
    margin-bottom: 8vh;
    width: 30vw;
    height: 35vh;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.register{
    display: block;
    padding: 20px;
    width: 30%;
    border: none;
    cursor: pointer;
    margin-left: 10.2vw;
    margin-top: 7vh;
    border-radius: 50px;
    background-color: #4d67fa;
}
.register:hover{
    background-color: #071ea3;
    color: #ffffff;
}
@media (max-width:970px) {
    .contentLogin{
        width: 70%; 
        margin-left: 15vw;
    }
    .cabecalho{
        width: 70%;
        margin-left: 15vw;
        
        .imgCabecalho{
            margin-left: 30vw;
            width: 10vw;
        }
    }
    .signIn{
        margin-left: 34vw;
    }
    .register{
        margin-left: 25vw;
    }
    .sexualidade{
        margin-left: 25vw;
    }
}